@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url("/fonts/Outfit/Outfit-VariableFont_wght.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Zen_Kaku_Gothic_New/ZenKakuGothicNew-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Zen_Kaku_Gothic_New/ZenKakuGothicNew-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Zen Kaku Gothic New";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Zen_Kaku_Gothic_New/ZenKakuGothicNew-Bold.woff2")
    format("woff2");
}
